#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

CONFIG_PROC_FS=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=8
CONFIG_BLK_DEV_CRYPTOLOOP=y

CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PERF_EVENTS=y

CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_TICK_ONESHOT=y
CONFIG_SCHED_HRTICK=y
# CONFIG_MISSED_TIMER_OFFSETS_HIST is not set

CONFIG_PROFILING=y

CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y

CONFIG_MAGIC_SYSRQ=y
CONFIG_MAGIC_SYSRQ_DEFAULT_ENABLE=0x1

CONFIG_FHANDLE=y
CONFIG_EXPERT=y
CONFIG_SYSCTL_SYSCALL=y

CONFIG_SCHED_TRACER=y
CONFIG_STACK_TRACER=y
CONFIG_IRQSOFF_TRACER=y

CONFIG_LATENCYTOP=y

CONFIG_FUNCTION_PROFILER=y
CONFIG_INTERRUPT_OFF_HIST=y
CONFIG_WAKEUP_LATENCY_HIST=y
CONFIG_PROBE_EVENTS=y
CONFIG_ARCH_SUPPORTS_UPROBES=y
CONFIG_UPROBE_EVENT=y
CONFIG_UPROBES=y

CONFIG_TASKSTATS=y
CONFIG_TASK_DELAY_ACCT=y

CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y

CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y

CONFIG_FANOTIFY=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y

CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_KEYS=y

CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_LOCKDEP=y
CONFIG_DEBUG_LOCKDEP=y

CONFIG_CPU_IDLE=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y
CONFIG_FTRACE_SYSCALLS=y

